<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Server App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- <link rel="stylesheet" href="styles.css"> -->

    
</head>
<body>
    <div class="ui pointing menu">
        <a href="/" class="item">
          Home
        </a>
        <a href="/new" class="item">
          New Post
        </a>
        
        <div class="right menu" id="abId0.7908919135979207">
          <div class="item" id="abId0.24041105086689463">
            <div class="ui transparent icon input" id="abId0.7976912831686185" abineguid="6D51A30DE472444CAA58A476723D2A2D">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
      </div>
    
