<%- include("partials/header") %>

<div class="ui text container">
    <div class="ui segment">
        <h1 class="ui center aligned header">New Story</h1>
    <form  action="/new" method="POST" class="ui form">

        <div class="field">
            <label>Story Name</label>
            <input type="text" name="story[name]">
        </div>
        <div class="field">
            <label>Story Image Url</label>
            <i class="images icon"></i>
            <input type="text" name="story[image]">
    
        </div>
    
        <div class="field">
          <label>Content</label>
          <textarea name="story[content]"></textarea>
        </div>

        <button class="ui button" type="submit">Post</button>
        
    </form>
    

    </div>
    

</div>

  <%- include("partials/footer") %>